## Diccionarios

In [1]:
# Manera más sencilla de crear un diccionario
empty_dict = {}

d1 = {'a':'some value', 'b':[1, 2, 3, 4]}
d1

{'a': 'some value', 'b': [1, 2, 3, 4]}

In [2]:
# Manera de asignar elementos a un diccionario
d1[7] = 'an integer'
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer'}

In [3]:
# Manera de acceder a elementos de un diccionario
d1['b']

[1, 2, 3, 4]

In [4]:
# Manera de verificar elementos en un diccionario 
'b' in d1

True

In [5]:
'b' not in d1

False

In [6]:
# Manera de eliminar elementos utilizando DEL
d1[5] = 'some value'
d1['dummy'] = 'another value'
d1

{'a': 'some value',
 'b': [1, 2, 3, 4],
 7: 'an integer',
 5: 'some value',
 'dummy': 'another value'}

In [7]:
del d1[5]

d1

{'a': 'some value',
 'b': [1, 2, 3, 4],
 7: 'an integer',
 'dummy': 'another value'}

In [8]:
# Manera de eliminar elementos de un diccionario con Pop
ret = d1.pop('dummy')

In [9]:
ret # la función pop regresa la variable que estamos eliminado

'another value'

In [10]:
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer'}

In [11]:
# Manera de verificar los keys de un diccionario
list(d1.keys())

['a', 'b', 7]

In [12]:
# Manera de verificar los values de un diccionario
list(d1.values())

['some value', [1, 2, 3, 4], 'an integer']

In [13]:
# Manera de juntar dos diccionarios
d1.update({'b': 'foo','c':12})
d1

{'a': 'some value', 'b': 'foo', 7: 'an integer', 'c': 12}

In [14]:
# Una manera de juntar una lista de dos tuplas en forma de diccionarios
mapping = dict(zip(range(5), reversed(range(5))))
mapping

{0: 4, 1: 3, 2: 2, 3: 1, 4: 0}

## Built-in Squence Functions

Funciones integradas a Python para manipular las estructuras de datos

In [15]:
# Función enumerate

some_list = ['Smith', 'Keynes', 'Marx']
dictionary = {}

for numero, valor in enumerate(some_list): # regresa la enumeracion y el valor enumerado
    dictionary[valor] = numero
    
dictionary

{'Smith': 0, 'Keynes': 1, 'Marx': 2}

In [16]:
# Función sorted

sorted([7, 1, 2, 6, 0, 3, 2]) # igual al metodo sort

[0, 1, 2, 2, 3, 6, 7]

In [17]:
sorted('Juan Antonio')  # ordena las letrasconforme al abecedario

[' ', 'A', 'J', 'a', 'i', 'n', 'n', 'n', 'o', 'o', 't', 'u']

In [18]:
sorted([1, 3, 10, 7, 'Juan Antonio'])

TypeError: '<' not supported between instances of 'str' and 'int'

In [19]:
# Función zip

seq = ['Inflacion', 'GINI', 'Recesion']
seq_2 = ['efecto', 'indice' , 'etapa']

zipped = zip(seq, seq_2)
zipped # si accedemos al zip nos otorgaria simplemente el generador

In [20]:
list(zipped) # al convertir el zip a una lista podemos acceder a los items

[('Inflacion', 'efecto'), ('GINI', 'indice'), ('Recesion', 'etapa')]

In [21]:
# Zip toma el numero de secuencias de acuerdo a la secuencia más corta

seq_3 = [False, True] # secuencia de 2

list(zip(seq, seq_2, seq_3)) # adapta las demás secuencias

[('Inflacion', 'efecto', False), ('GINI', 'indice', True)]

In [22]:
seq_4 = True

list(zip(seq, seq_2, seq_4))

TypeError: 'bool' object is not iterable

In [23]:
# Utilizar sip para iterar sobre secuencias

for i, (a, b) in enumerate(zip(seq, seq_2)):
    print('{0}: {1}, {2}'.format(i, a, b))

0: Inflacion, efecto
1: GINI, indice
2: Recesion, etapa

In [24]:
# Unzip una secuencia

pitchers = [('Nolan', 'Ryan'), ('Roger', 'Clemens'), ('Schilling', 'Curt')]

first_names, last_names = zip(*pitchers)

In [25]:
first_names

('Nolan', 'Roger', 'Schilling')

In [26]:
last_names

('Ryan', 'Clemens', 'Curt')

In [27]:
# Función reversed

list(reversed(range(10)))

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

## Set

In [30]:
# Manera más sencilla de crear un set
set([2, 2, 2, 1, 3, 3])

{1, 2, 3}

In [31]:
# Otra manera sencillar de crear un set
{2, 2, 2, 1, 3, 3}

{1, 2, 3}

In [32]:
# Soporte para operaciones matematicas
a = {1, 2, 3, 4, 5}
b = {3, 4, 5, 6, 7, 8}

In [33]:
# Manera de unir dos sets de datos
a.union(b)

{1, 2, 3, 4, 5, 6, 7, 8}

In [34]:
# Manera de unir sets de datos utilizando operaciones binarios
a | b

{1, 2, 3, 4, 5, 6, 7, 8}

In [35]:
# Verificar en donde intersectan
a.intersection(b)

{3, 4, 5}

In [36]:
# Verificar donde intersectan utilizando operaciones binarias
a & b

{3, 4, 5}

In [37]:
# Manera de copiar valores de otra variable
c = a.copy()
c

{1, 2, 3, 4, 5}

In [41]:
# Transformar sets a listas para poder utilizar propiedades
my_data = [1, 2, 3, 4]

my_set = {tuple(my_data)}
my_set

{(1, 2, 3, 4)}

In [42]:
# Verificar valores en un set
a_set = {1, 2, 3, 4, 5}

{1, 2, 3}.issubset(a_set)

True

In [43]:
# Verificar un set inverso
a_set.issuperset({1, 2, 3})

True

In [44]:
# Verificar igualdad de dos sets 
{1, 2, 3} == {3, 2, 1}

True