#  Clase 00 - Data Structures and Sequences

## Tuplas

Una tupla es una secuencia de valores ordenados e inmutables.

In [1]:
# Manera más simple de crear una tupla

tup = 4, 5, 6
tup

(4, 5, 6)

In [2]:
# Tupla de tuplas

nested_tup = (4, 5, 6), (7, 8)
nested_tup

((4, 5, 6), (7, 8))

In [3]:
# Cualquier sequencia puede ser transformado a una tupla

tuple([4, 6 ,2])

(4, 6, 2)

In [5]:
# Incluso palabras pueden ser transformadas a tuplas

economist = tuple('Adam')
economist

('A', 'd', 'a', 'm')

In [20]:
print("La primera letra del nombre es:")
print(economist[0])

print("\nLa ultima letra del nombre es:")
print(economist[-1])

La primera letra del nombre es:
A

La ultima letra del nombre es:
m

In [12]:
# Una vez creada la tupla no se puede modificar el orden de los objetos

tup = tuple(['foo', [1, 2], True])
tup[2] = False

TypeError: 'tuple' object does not support item assignment

In [13]:
# Si la tupla contiene objetos mutables, si se pueden modificar

tup[1].append(3) # el slot 1 tiene una lista, al utilizar .append(3) agregamos el valor 3 a esa lista
tup

('foo', [1, 2, 3], True)

In [14]:
# Concatenar tuplas usando operadores

# Suma de tuplas
(1, 2, 3) + (4, 5, 6) + (7, 8, 9)

(1, 2, 3, 4, 5, 6, 7, 8, 9)

In [15]:
# Multiplicación de tuplas

('Adam', 'Keynes') * 4

('Adam', 'Keynes', 'Adam', 'Keynes', 'Adam', 'Keynes', 'Adam', 'Keynes')

In [19]:
# Unpacking tuplas

tup = ('Adam', 'Smith')
nombre, apellido = tup
print('El nombre del economista es:')
print(nombre)
print('\nEl apellido del economista es:')
print(apellido)

El nombre del economista es:
Adam

El apellido del economista es:
Smith

In [26]:
# También podemos utilizar el metodo con tuplas de tuplas

tup = 'Macroeconomia', 'Microeconomia', ('GDP', 'GINI')
materia_1, materia_2, (indice_1, indice_2) = tup

indice_2

'GINI'

In [30]:
# Podemos intercambiar variables utilizando metodos de "unpacking"

economista, politico = 'Salinas','Andres'
economista

'Salinas'

In [31]:
# El swap lo realizamos haciendo una asignación de variables inversa

politico, economista = economista, politico
economista

'Andres'

In [36]:
# Unpacking avanzado

seq = [(1,2,3), (4,5,6), (7,8,9)] # Una lista de 3 tuplas

for a, b, c in seq:
    print('a = {}, b = {}, c = {}'.format(a, b, c))
    
    # Los valores de a serán de la primera tupla en la lista
    # Los valores de b serán de la segunda tupla en la lista
    # Los valores de c serán de la tercera tupla en la lista

a = 1, b = 2, c = 3
a = 4, b = 5, c = 6
a = 7, b = 8, c = 9

In [45]:
# Podemos no querer asignar todos los valores de nuestra tupla
values = 1, 2, 3, 4, 5 

# Si solo queremos asignar los primeros 2 y los demás dejarlos en otra variable
a, b, *rest = values

In [46]:
a, b  # los primeros dos valores

(1, 2)

In [47]:
rest # el resto de valores que no asignamos

[3, 4, 5]

In [48]:
# En caso de querer descartarlos
a, b , *_ = values

In [49]:
# Metodos de tuplas
a = (1, 2, 2, 2, 3, 4, 2)
a.count(2) # cuantos numeros 2 existen en la tupla

4

In [50]:
a.count(1) # cuantos numeros 1 hay en la tupla

1

## Listas

Las listas son secuencias de valores ordenadas y mutables, por lo que su contenido puede ser modificado "in place".

In [51]:
# Manera mas sencilla de crear una lista es con [ ] 

a_list = [2, 3, 7, None]
a_list

[2, 3, 7, None]

In [52]:
# Tambien podemos convertir otra secuencia de datos a lista mediante  list()

tup = ('foo', 'bar', 'baz')
b_list = list(tup)
b_list

['foo', 'bar', 'baz']

In [54]:
# Ya que las listas son mutables podemos cambiar los datos contenidos en la lista

b_list[1] = 'peekaboo'
b_list

['foo', 'peekaboo', 'baz']

In [55]:
# Aprovechar la similitud de listas y tuplas

gen = range(10) # la función range nos genera un ragno de datos hasta "x" 
gen

range(0, 10)

In [56]:
# Utilizando la funcion lista materializamos la expresion del generador
list(gen)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [57]:
# Podemos modificar las listas mediante el metodo de. append() (al igual que las tuplas)
b_list.append('dwarf')
b_list

['foo', 'peekaboo', 'baz', 'dwarf']

In [58]:
# Usando .insert() podemos insertaron elementos en una ubicación especifica

b_list.insert(1, 'red')
b_list

['foo', 'red', 'peekaboo', 'baz', 'dwarf']

In [59]:
# Al utilizar .pop() removemos y obteneemos el elemtnos de un indice particular

b_list.pop(2)

'peekaboo'

In [60]:
b_list

['foo', 'red', 'baz', 'dwarf']

In [61]:
# Verificar el contenido de una lista

'dwarf' in b_list # la palabra dwarf esta en la lista?

True

In [62]:
'dwarf' not in b_list # la palabra dwarf no esta en la lista?

False

In [63]:
# Concatenar listas

[4, None, 'foo'] + [7, 8, (2, 3)]

[4, None, 'foo', 7, 8, (2, 3)]

In [64]:
# Metodo extend agrega multiple elementos a las listas existentes

x = [4, None, 'foo']
x.extend([7, 8 , (2, 3)])

x

[4, None, 'foo', 7, 8, (2, 3)]

In [66]:
# Ordenar una lista "in place" mediante la funcion sort()

a = [7, 2, 5 ,1, 3]
a.sort()
a

[1, 2, 3, 5, 7]

In [67]:
# Opciones de sort 

# key : el atributo a ordenar
# key : len (ordenamos por longitud de palabras)

b = ['saw', 'small', 'He', 'foxes', 'six']
b.sort(key = len)
b

['He', 'saw', 'six', 'small', 'foxes']

In [68]:
# Seleccionar solo partes de la sequencia: Slicing

seq = [7, 2, 3, 7, 5, 6, 0 , 1] # definimos nuestra lista

# [ : ] = start:stop

seq[1:5] # empieza en el elemento 1 y termina antes del 5

[2, 3, 7, 5]

In [69]:
# Podemos asignar valores a un slice

seq[3:4] = [6, 3]
seq

[7, 2, 3, 6, 3, 5, 6, 0, 1]

In [72]:
# Seleccionaónr hasta una posición

seq[:5] # Hasta el quinto valor

[7, 2, 3, 6, 3]

In [73]:
# Seleccionar desde una poscion

seq[3:] # Desde el tercer valor

[6, 3, 5, 6, 0, 1]

In [74]:
# Indices negativos, posicionales relativos al final

seq[-4:] #  el cuarto valor desde el final

[5, 6, 0, 1]

In [75]:
# Invertir una lista o tupla

seq[::-1]

[1, 0, 6, 5, 3, 6, 3, 2, 7]

In [78]:
# Escoger pasos

seq[::2] # Selecciona las posiciones de dos en dos 0, 2, 4, 6, 8

[7, 3, 3, 6, 1]

In [77]:
seq[::3] # Selecciona las posiciones de 3 en 3 0, 3, 6

[7, 6, 6]

## Built-in Squence Functions

Funciones integradas a Python para manipular las estructuras de datos

In [82]:
# Función enumerate

some_list = ['Smith', 'Keynes', 'Marx']
dictionary = {}

for numero, valor in enumerate(some_list): # regresa la enumeracion y el valor enumerado
    dictionary[valor] = numero
    
dictionary

{'Smith': 0, 'Keynes': 1, 'Marx': 2}

In [83]:
# Función sorted

sorted([7, 1, 2, 6, 0, 3, 2]) # igual al metodo sort

[0, 1, 2, 2, 3, 6, 7]

In [84]:
sorted('Juan Antonio')  # ordena las letrasconforme al abecedario

[' ', 'A', 'J', 'a', 'i', 'n', 'n', 'n', 'o', 'o', 't', 'u']

In [85]:
sorted([1, 3, 10, 7, 'Juan Antonio'])

TypeError: '<' not supported between instances of 'str' and 'int'

In [88]:
# Función zip

seq = ['Inflacion', 'GINI', 'Recesion']
seq_2 = ['efecto', 'indice' , 'etapa']

zipped = zip(seq, seq_2)
zipped # si accedemos al zip nos otorgaria simplemente el generador

In [89]:
list(zipped) # al convertir el zip a una lista podemos acceder a los items

[('Inflacion', 'efecto'), ('GINI', 'indice'), ('Recesion', 'etapa')]

In [91]:
# Zip toma el numero de secuencias de acuerdo a la secuencia más corta

seq_3 = [False, True] # secuencia de 2

list(zip(seq, seq_2, seq_3)) # adapta las demás secuencias

[('Inflacion', 'efecto', False), ('GINI', 'indice', True)]

In [92]:
seq_4 = True

list(zip(seq, seq_2, seq_4))

TypeError: zip argument #3 must support iteration

In [95]:
# Utilizar sip para iterar sobre secuencias

for i, (a, b) in enumerate(zip(seq, seq_2)):
    print('{0}: {1}, {2}'.format(i, a, b))

0: Inflacion, efecto
1: GINI, indice
2: Recesion, etapa

In [96]:
# Unzip una secuencia

pitchers = [('Nolan', 'Ryan'), ('Roger', 'Clemens'), ('Schilling', 'Curt')]

first_names, last_names = zip(*pitchers)

In [97]:
first_names

('Nolan', 'Roger', 'Schilling')

In [98]:
last_names

('Ryan', 'Clemens', 'Curt')

In [99]:
# Función reversed

list(reversed(range(10)))

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]